@import '../../asset/Style/mixin';
@import '../../asset/Style/variable';
.TaskContent {
    width: 82%;
    height: 100%;
    background: rgba($color: $black, $alpha: 0.2);
}

.TaskContentMenu {
    width: 100%;
    height: 22%;
    @include flex(space-between, center);
    padding: 0 2%;
    .TaskContentTitle {
        font-size: 2rem;
        color: #fff;
        font-weight: 600;
    }
    ul {
        width: 25%;
        @include flex(space-around, center);
        li {
            @include flex(space-around, baseline);
            cursor: pointer;
            // font-size: 1.3rem;
            transition: color 0.3s ease-in-out;
            span {
                margin-left: 5px;
                font-size: 1.4rem;
            }
            &:hover {
                color: #fff;
                transition: color 0.3s ease-in-out;
            }
            &:last-child {
                font-size: 2.2rem;
            }
        }
    }
}

.TasksContainer {
    width: 100%;
    height: 78%;
    // background-color: dodgerblue;
    padding: 0 1%;
}

.createList {
    width: 275px;
    height: 50px;
}

.createListBtn {
    width: 100%;
}

// @media screen and (max-width:768px) {
//     .TaskContent {
//         width: 95%;
//     }
// }